$bg-color: #445162
$bg-color2: #f5f5f5
=test
  color: #fff

body
  font-family: Arial, sans-serif
  box-sizing: border-box
  color: $bg-color

.container
  width: 1280px
  padding: 50px 50px
  margin: 0 auto

.heading
  color: $bg-color
  font-size: 30px
  font-weight: 400
  line-height: 36px
  text-align: center
  margin-bottom: 29px

.paragraph
  color: #333333
  font-size: 16px
  font-weight: 400
  line-height: 24px

.flex
  display: flex
  justify-content: space-between
  flex-wrap: wrap



// Блок header
.header
  background-color: $bg-color
  &-img
    width: 469px
    height: 214px
    background-color: #fff
  h1
    color: #ffffff
    font-size: 60px
    font-weight: 400
    margin-bottom: 50px
  ul
    color: #ffffff
    font-size: 20px
    font-weight: 400
    li
      margin-bottom: 15px
    li:last-child
      margin-bottom: 0
    li:before
      font-family: 'FontAwesome'
      content: '\f00c'
      margin-right: 10px



// section about
.about
  &-text
    max-width: 660px
    p:nth-child(2)
      margin-bottom: 20px
  &-img
    width: 430px
    height: 245px
    background-color: $bg-color
  h2
    text-align: left


// section advantages
.advantages
  background-color: $bg-color2
  ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  li
    background: url(../img/plus-marker.png) no-repeat 0px 5px
    padding-left: 41px
    max-width: 567px
    margin-bottom: 35px
  li:nth-last-child(-n+2)
    margin-bottom: 0



// section scrinshots
.scrinshots
  &-img
    width: 200px
    height: 150px
    background-color: $bg-color
    float: left
    margin-right: 15px
  &-item
    max-width: 580px
    margin-bottom: 30px
    &:nth-last-child(-n+2)
      margin-bottom: 0
    h3
      color: $bg-color
      font-size: 24px
      font-weight: 400
      margin-bottom: 10px
    

// section reviews
.reviews
  background-color: $bg-color2
  &-item
    max-width: 600px
    margin-bottom: 30px
    display: flex
    &:nth-last-child(-n+2)
      margin-bottom: 0
  &-img
    min-width: 75px
    height: 75px
    background-color: $bg-color
    border-radius: 50%
    margin-right: 28px
  &-blockquote
    max-width: 455px
    color: #333333
    font-size: 14px
    font-weight: 400
    line-height: 18px
    padding: 15px 20px
    background-color: #ebebeb
    position: relative
    & p
      margin-bottom: 15px
    & cite
      color: #989898
    &:before
      content: ""
      padding: 10px
      position: absolute
      background-color: #ebebeb
      top: 27px
      left: -10px
      transform: rotate(45deg)

// section price
.price
  &-wrap
    max-width: 100%
    padding: 0 95px
  &-item
    text-align: center
    border: 2px solid $bg-color
    border-radius: 5px
    
  &-rank
    color: #fff
    font-size: 24px
    font-weight: 400
    background-color: $bg-color
    padding: 16px 0 
  &-value
    color: $bg-color
    font-size: 40px
    font-weight: 400
    padding: 18px 0 
  &-list
    background-color: $bg-color
    ol
      padding: 19px 20px
      list-style: decimal inside
      color: #fff
      font-size: 14px
      font-weight: 400
      line-height: 24px
      background-color: $bg-color
      text-align: left
  &-button
    color: $bg-color
    font-size: 18px
    font-weight: 400
    line-height: 18px
    text-transform: uppercase
    background-color: #fff
    padding: 13px 110px
    border-radius: 5px
    margin-bottom: 20px
    margin-left: 20px
    margin-right: 20px